@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <html>

    <body>

        <div>
            <h1>This is the list of users</h1>
        </div>
        <script type="text/javascript" src="~/js/JavaScript.js">
        </script>

    </body>

    </html> 

